*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/libs/
app/src/androidTest/
app/src/test/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
projectFilesBackup/
settings.gradle
